$primary: #19c1ce;
$primary-shade-1: #0b485b;
$highlight: #f2bf4e;
$highlight-shade: #f4ca6d;
$secondary: #07e5eb;
$gray-100: #212429;
$gray-70: #7e8a98;
$gray-60: #97a1ac;
$gray-30: #cfd3d8;
$gray-10: #f1f3f5;
$color-white: #ffffff;
$color-black: #000000;
